<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Create</title>
</head>
<body>
    <header class="header">
        <h1 class="header-heading">
            <a href="http://127.0.0.1:8000/" class="header-link">
                Agenda
            </a>
        </h1>
    </header>
{% block content %} <!-- Sem esse bloco bibliotecas do django não funcionam, exemplo do forms -->
    <h1>CREATE CONTACT</h1>
  <div class="form-wrapper">

    <h2>Contact</h2>

    <!-- Criação de formulário usando a view create e ModelForm 
    
    Logo abaixo vemos configurações para um form.
    A url joga direto para a view que está sendo usada.
    -->
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <!-- 
          method="POST" neste caso será usado para o envio de arquivos, o Get não funciona neste caso, a url nao carrega uma imagem.

          enctype="multipart/form-data" muito importante colocar quando formos usar formularios para anexar arquivosn, sem essa instancia não irá funcionar 
      
          neste form acima temos um exemplo de como se proteger de ataques CSRF:
          {% csrf_token %} - gera um token que garantira que o que esta sendo enviado chegara com segurança no destino
      -->
      <div class="form-content">
        {% for field in formulario %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }} <!-- Botão de input -->
            {{ field.errors }} <!-- Para buscar erros  -->
            {{ field.help_text }}
          </div>
        {% endfor %}
      </div>
      <!--
        Logo acima vemos uma forma facil para a criação de formulários para os respectivos campos no banco de dados
      -->
      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
</body>
</html>