{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Agenda</title>
</head>
<body>
    <!-- Cabeçalho da agenda -->
    <header class="header">
        <h1 class="header-heading">
            <a href="#" class="header-link">
                Agenda
            </a>
        </h1>

        <!-- Links -->
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="{% url "create" %}" class="menu-link">
                        Create
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        Link 2
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Campo de busca -->
        <div class="search">
            <form action="{% url "search" %}" method="get">
                <input 
                type="text" 
                class="search-input"
                placeholder="Search"
                id="search"
                name="q"
                value="{{request.GET.q.strip}}">
            </form>
        </div>
    </header>

    <!-- Condição para se saber se no page_obj tem algum contato, se sim retorna o que está abaixo -->
    {% if page_obj %}
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption">Contacts</caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Id</th>
                    <th class="table-header">Nome</th>
                    <th class="table-header">Sobrenome</th>
                    <th class="table-header">Telefone</th>
                    <th class="table-header">E-mail</th>
                </tr>
            </thead>
            <tbody>
            {% for Contact in page_obj %}
                <tr class="table-row">
                    <td class="table-cel"><a href="{% url "Contact" Contact.id %}" class="table-link">{{Contact.id}}</a></td>
                    <td class="table-cel">{{Contact.first_name}}</td>
                    <td class="table-cel">{{Contact.last_name}}</td>
                    <td class="table-cel">{{Contact.phone}}</td>
                    <td class="table-cel">{{Contact.email}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Código para dividir em páginas, usando a biblioteca do python Paginator -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <!-- Aqui termina o Paginator -->

    <!-- Condição de se não tiver contatos no page_obj -->
    {% else %}
    <header class="header">
        <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption">Contacts</caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Nenhum contato encontrado</th>
                </tr>
            </thead>
            
    {% endif %}
</body>
</html>