<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Contato Individual</title>
</head>
<body>
    <header>
        <h1>Informções pessoais</h1>

        <p><a class="link_detail" href="{% url "Index" %}">Voltar a página principal</a></p>
    </header>
    {% block contact %}
    <div class="div-contein-dados">
        <h1 class="titulo">{{contact.nome}} {{contact.sobrenome}}</h1>
        <div class="div-dados">
            <p class="dados"><strong>ID: </strong>{{contact.id}}</p>
            <p class="dados"><strong>E-mail: </strong>{{contact.email}}</p>
            <p class="dados"><strong>Phone: </strong>{{contact.telefone}}</p>
            <p class="dados"><strong>Created date: </strong>{{contact.data_criacao}}</p>
            <p class="dados"><strong>Category: </strong>{{contact.category}}</p>
        </div>

        <div class="div-formulario">
            <a class="btn-update" href="{% url "atualizar" contact.id %}">Update</a>
            <form action="{% url "deletar" contact.id %}" method="POST">
                {% csrf_token %}
                {% if confirmation == 'no' %}
                <input type="hidden" name="confirmation" value="yes">
                <button class="btn-condel" type="submit">Confirmar</button>
                {% else %}
                <button class="btn-condel" type="submit">Deletar</button>
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock contact %}
</body>
</html>